<div class="distribution-principal" ng-controller="distributionPrincipalCtrl">
	<div class="top clearfix">
		<a class="clearfix" href="javascript:;" title="">
			<img src="../../../image/principal/top.jpg" alt="">
		</a>
		<a ui-sref="distribution.singup({type:pageConfig.type})" title="" ng-if="userInfo.type<2">
			<img class="signIn" src="../../../image/principal/button_01.jpg" alt="">
		</a>
		<a ui-sref="distribution.center" title="" ng-if="userInfo.type>=2">
			<img class="signIn" src="../../../image/principal/button_01.jpg" alt="">
		</a>
		<a class="clearfix" href="tel:13917617647" title="">
			<img class="phone" src="../../../image/principal/button_02.jpg" alt="">
		</a>
		<a class="clearfix" href="javascript:;" title="">
			<img src="../../../image/principal/tip_01.jpg" alt="">
		</a>
		<div class="button-wrap">
			<a href="javascript:;" ng-click="pageConfig.type=3">
				<img src="../../../image/principal/button_03.jpg" alt="">
			</a>
			<a href="javascript:;" ng-click="pageConfig.type=4">
				<img src="../../../image/principal/button_04.jpg" alt="">
			</a>
		</div>
	</div>
	<div class="content">
		<div class="inner" ng-if="pageConfig.type==3">
			<div class="title">
				<img src="../../../image/principal/title_01.jpg" alt="">
				<img src="../../../image/principal/text_01.jpg" alt="">
			</div>
			<div class="item">
				<p class="c-main-red main">1.四次微信推文宣传</p>
				<p>详细请查看页面最下方“活动说明”第3条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_01_01.jpg" alt="">
					</a>
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_01_02.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">2.两周APP、微信应用广告位</p>
				<p>详细请查看页面最下方“活动说明”第4条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_02_01.jpg" alt="">
					</a>
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_02_02.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">3.四次活动策划方案推荐</p>
				<p>详细请查看页面最下方“活动说明”第5条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_03_01.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">4.全年独享翼起学分销返利系统</p>
				<p>详细请查看页面最下方“活动说明”第6条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_04_01.jpg" alt="">
					</a>
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_04_02.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">5.优先获得大咖微课主讲机会</p>
				<p>详细请查看页面最下方“活动说明”第7条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_05_01.jpg" alt="">
					</a>
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_05_02.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">6.有机会成为课程、活动的采购方</p>
				<p>详细请查看页面最下方“活动说明”第8条</p>
			</div>
			<div class="item">
				<p class="c-main-red main">7.有机会成为官方线下活动举办场地</p>
				<p>详细请查看页面最下方“活动说明”第9条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_07_01.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="inner" ng-if="pageConfig.type==4">
			<div class="title">
				<img src="../../../image/principal/title_02.jpg" alt="">
				<img src="../../../image/principal/text_02.jpg" alt="">
			</div>
			<div class="item">
				<p class="c-main-red main">1.一次深度专访<br>+<br>视频拍摄剪辑</p>
				<p>详细请查看页面最下方“活动说明”第10条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/bigger_step_01_01.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">2.全年翼起学所有线下门店广告投放</p>
				<p>详细请查看页面最下方“活动说明”第11条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/bigger_step_02_01.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">3.享受翼起学实习生老师资源库</p>
				<p>详细请查看页面最下方“活动说明”第12条</p>
			</div>
			<div class="item">
				<p class="c-main-red main">4.翼起学公关活动广告植入</p>
				<p>详细请查看页面最下方“活动说明”第14条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_04_01.jpg" alt="">
					</a>
					<a href="javascript:;" title="">
						<img src="../../../image/principal/person_step_04_02.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">5.有机会赢取校长精英培训<br>(由君学中国提供)</p>
				<p>详细请查看页面最下方“活动说明”第15条</p>
				<div class="tip-detail">
					<a href="javascript:;" title="">
						<img src="../../../image/principal/bigger_step_05_01.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="item">
				<p class="c-main-red main">6.两张第二届百优校长论坛门票</p>
				<p>详细请查看页面最下方“活动说明”第16条</p>
			</div>
			<div class="item">
				<p class="c-main-red main">7.成为君子会成员会籍</p>
				<p>详细请查看页面最下方“活动说明”第13条</p>
			</div>
		</div>
		<div class="inner">
			<div class="title">
				<img src="../../../image/principal/title_03.jpg" alt="">
			</div>
			<p class="line">
				1. 本次活动每位用户（同一用户名、手机号、设备号均视为同一用户）仅可以参加一个合伙人团队（会员合伙人或战略合伙人），名额有限，先到先得。
			</p>
			<p class="line">
				2. 战略合伙人资格有效期为一年，从支付成功时开始计算。
			</p>
			<p class="line">
				3. 微信推文宣传是指翼起学每周在服务号上发布的“本周精选少儿活动和课程”
			</p>
			<p class="line">
				4. APP广告位是指翼起学APP（包括IOS和Android版本）首页轮播广告（尺寸为750 x 400）；微信应用广告位是指翼起学服务号的“找课程”列表页头部广告（尺寸为750 x 400）、“找活动”推荐位，具体投放排期将会再次确认。
			</p>
			<p class="line">
				5. 活动策划方案推荐是指翼起学根据合伙人所在机构的特色和要求、及翼起学平台独家资源综合策划并设计出共同合作的活动方案，定期推荐给合伙人。
			</p>
			<p class="line">
				6. 翼起学分销返利系统是指合伙人有别于普通用户，合伙人拥有分享返利的权利，当合伙人分享翼起学产品（不限于会籍、课程或活动）并致使第三方通过翼起学平台付费购买，合伙人将立即获得由翼起学微信服务号发出的企业红包（红包金额为最终交易额的2%到35%不等）。
			</p>
			<p class="line">
				7. 大咖微课主讲机会是指允许合伙人在由翼起学选定的上海家长微信群（总覆盖超10000人）里就某一话题进行知识性分享（内容需积极向上并附有一定的儿童、家庭教育意义），课程结束后可适当宣传本企业。
			</p>
			<p class="line">
				8. 成为翼起学课程或活动采购方是指翼起学批量采购特定战略合伙人所提供的课程或活动，作为赠送给家长会员的福利。
			</p>
			<p class="line">
				9. 成为翼起学线下活动举办场地是指翼起学定期选择或租用特定战略合伙人所提供的场地，作为举办线下活动的主要场地。
			</p>
			<p class="line">
				10. 专访软文和视频拍摄剪辑是指翼起学将邀请专业记者编辑、前CCTV摄影组成员到达机构进行深度采访、摄影、后期剪辑、设计美化、留底并发布到翼起学平台和主流媒体上。
			</p>
			<p class="line">
				11. 翼起学所有线下门店广告植入是指在翼起学自运营的晚托班、暑托班、体验店内放置合伙人所在机构或企业的X展架。
			</p>
			<p class="line">
				12. 享有翼起学实习老师资源库是指合伙人能够从翼起学平台对接由上海师范大学、上海音乐学院、上海美术学院等学校专门为翼起学平台输送的实习生资源。
			</p>
			<p class="line">
				13. 成为君子会会员是指加入翼起学成立的高端校长私下互动圈，共同拥有异业合作、资源整合、分享干货等机会。
			</p>
			<p class="line">
				14. 翼起学公关活动广告植入是指在翼起学主办或参加的线下活动中植入广告，包括但不限于上海国际教育博览会、上海幼教博览会、民办教育节、翼起学产品发布会以及各种公益慈善活动等。
			</p>
			<p class="line">
				15. 校长精英培训是指参与由翼起学和君学中国共同提供的线下校长培训课程。
			</p>
			<p class="line">
				16. 百优校长论坛是每年由翼起学主办的高端教育行业论坛，每年特邀行业巨头、资深教育人士、培训名师就教育培训等议题进行深入探讨及整合资源，意图大大促进行业效率的提升，该论坛自第一届成功举办至今，受到社会各界人士的广泛认可和关注。
			</p>
			<p class="line">
				17. 成为合伙人后进入会员中心，可查看自己的会员信息、推广收入信息以及有效期。
			</p>
			<p class="line">
				18. 对于以不正当手段加入合伙人的用户，包括但不限于恶意套现、恶意下单、恶意注册、利用程序漏洞等手段，翼起学有权在不事先通知的情况下取消其合伙人资格并收回所有福利政策。
			</p>
			<p class="line">
				19. 在法律范围允许内，翼起学可能对活动的规则、条款作出适当修改和调整。
			</p>
			<p>
				<img src="../../../image/index/code.png" style="border-radius: 3px;" alt="">
			</p>
		</div>
	</div>
	<button class="signUp" ng-show="pageConfig.buttonView" ng-if="userInfo.type<2" ui-sref="distribution.singup({type:pageConfig.type})">立即参与</button>
	
</div>