
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464679488'); /* IE9*/
  src: url('iconfont.eot?t=1464679488#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464679488') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464679488') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464679488#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-favorfill:before { content: "\e600"; }
.icon-favor:before { content: "\e601"; }
.icon-locationfill:before { content: "\e602"; }
.icon-location:before { content: "\e603"; }
.icon-unfold:before { content: "\e604"; }
.icon-ellipsis:before { content: "\e61f"; }
.icon-evaluate:before { content: "\e60f"; }
.icon-square:before { content: "\e609"; }
.icon-squarecheck:before { content: "\e607"; }
.icon-time:before { content: "\e61a"; }
.icon-fold:before { content: "\e606"; }
.icon-infofill:before { content: "\e61d"; }
.icon-info:before { content: "\e61e"; }
.icon-newlisticon06:before { content: "\e615"; }
.icon-call:before { content: "\e619"; }
.icon-icon:before { content: "\e60a"; }
.icon-socially:before { content: "\e61c"; }
.icon-more:before { content: "\e605"; }
.icon-starfull:before { content: "\e610"; }
.icon-starhalf:before { content: "\e612"; }
.icon-miaojiesecurity:before { content: "\e60b"; }
.icon-zan:before { content: "\e611"; }
.icon-heart:before { content: "\e616"; }
.icon-video:before { content: "\e613"; }
.icon-phone:before { content: "\e608"; }
.icon-school:before { content: "\e61b"; }
.icon-member:before { content: "\e60e"; }
.icon-iconfontzhankai:before { content: "\e60c"; }
.icon-iconfontzhankai1:before { content: "\e60d"; }
.icon-walk:before { content: "\e617"; }
.icon-field:before { content: "\e614"; }
.icon-car:before { content: "\e618"; }
